
.button-active {
  background-color: var(--btn-primary-color);
  color: white; }

/* Button Inactive State */
.button-inactive {
  background-color: white; 
  color: rgb(100, 100, 100); 
  border: 1px solid rgb(219, 217, 217);
}

/* Button Clicked State for Yellow Border */
.button-clicked {
  border: none;
}

/* General Button Group Styling */
.btn-group, .btn-group-vertical {
  width: 80%;
}

/* First and Last Buttons: Rounded Borders */
.btn-group button:first-child {
  border-radius: 20px 0 0 20px; /* Rounded on the left */
}

.btn-group button:last-child {
  border-radius: 0 20px 20px 0; /* Rounded on the right */
}

/* Button General Styles */
.btn-group button {
  padding: 10px 20px; /* Consistent padding */
  line-height: 1.5; /* Fixes content height */
  box-shadow: 0px 2px rgb(206, 205, 205);
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

/* Fix Button Size Consistency */
.btn-group button {
  display: inline-block;
  box-sizing: border-box; /* Keep dimensions consistent with padding and borders */
  margin: 0; /* No margin to prevent shifting */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group button svg {
  margin-right: 8px;
  transition: transform 0.5s ease-in-out; /* Smooth transition for rotation */
}

.button-clicked .svg-icon {
  transform: rotate(360deg); /* Rotate 360 degrees */
}

.buttons-heading {
  color: var(--primary-color);
}

button:focus {
  outline: none; /* Remove default focus outline */
}
.btn-primary:hover{
  background-color: white;
  color: rgb(100, 100, 100);
  border: none;
  border: 1px solid rgb(209, 208, 208);
}
.button-inactive:hover{
  background-color: var(--secondary-color);
  color: rgb(100, 100, 100);
}
.button-active:hover{
  background-color: var(--btn-primary-color);
  color: var(--secondary-color);
  border: 1px solid rgb(209, 208, 208);
}