.nav-logo{
  width: 12rem;
  margin-right: 20px;
}
.navbar-brand{
  padding: 0px !important;
}
.nav-bg{
  background-color: var(--primary-color);
}
.nav-text{
  color: var(--secondary-color) !important;
  font-weight: 500 !important;
}
.navbar .dropdown-toggle{
  color: var(--secondary-color) !important;
}
.form-control {
  border-radius: 5rem !important;
}
.form-control:focus{
  border: 2px dashed var(--primary-color);
  box-shadow: none !important;
  outline: 0;
}